<div>
<div>
  <h2>
  <center>
<br>
<br>

To keep this short, all you need to know about Seoul for the time being is
<br>
<br>
<a href="/the_food">The Food</a>
<br>
<br>
and
<br>
<br>
<a href="/the_life">The Life</a>
<br>
<br>

<% puts @name %>

<h2>































</div>