<div>
  <div>
<h2><center>
  <br>
  <br>
  The food In Korea - deserves to be praised. Words cannot describe the deliciousness of Korean food culture!
    <br>
    <br>
    <img src="images/shabu.jpg">
    <br>
    Shabu Shabu!
    <br>
    <br>
    <img src="images/hanwoo.jpg">
    <br>
    <img src="images/galbi.jpg">
    <br>
    <br>
    But I cannot stress enough, if you love meat(sorry all you non meat eaters!) Korea has hands down the best beef in the far East. Extremely tender and juicy, and with spicy bean paste to lather on top of it, wrap them up in a cabbage leaf and you've just made the greatest tasting meat concoction in all the lands. Also, Korea's fast food delivers. 24/7!
    <br>
    <img src="images/mcd.jpg">
    <br>
    McDonalds delivery right on time at 3am!
    <br>
    Korea is also home to many of America's favorite chains!
    <br>
    <br>
    <img src="images/subway.jpg">
    <br>
    Subway
    <br>
    <img src="images/tacob.jpg">
    <br>
    Taco Bell!
    <br>
    <img src="images/doritos.jpg">
    <br>
    And yes Doritos to get your snack on!
    <br>
    <a href="/">Home</a>
    <br>
    <br>
    <a href="/the_life">Check out what to do in Korea!</a>
        <br>
    <br>    <br>
    <br>







</center><h2>