<div>
<div>
  <h2>
  <center>
    <strong>The Life of Seoul</strong>
    <br>
<br>
    <img src="images/korea1.jpg">
    <br>
    <br>
    Whether you come here for the food, the night scene or the activities, there is ALWAYS something to do in Seoul!. The night life is just as lively as it is in the day time. As many stores/restaurants stay open 24/7!
    <br>
    <br>
    <img src="images/myeongdong.jpg">
    <br>
    You won't find yourself short when the shopping itch comes and needs tickling. Seoul's very own district Myeongdong is one of the busiest streets in the city, filled with layers upon layers of shops of all sorts!
    <br>
    <br>
    <img src="images/street.jpg">
    <br>
    <br>
    Seoul is such a beautiful city! Come sing karaoke at Noraebang (Norae - Song, Bang - Room), play board games with your friends while drinking or eating at a Board Game Cafe. Multibangs are rampant in Seoul! In multibangs, you can sing karaoke, watch movies or tv and play games all in the comfort of your own little room!
    <br>
    <br>
    <a href="/">Home</a> 
    <br>
    Check out the Food in Seoul!
    <br>
    <a href="/the_food">The Food</a>
    <br>
    <br>
 
    <br>
    <br>
  </center>
<h2>