%center
  %h1 Assignment
  %strong
    = @assignment.name
  %br
  %br
  %strong
    Description
    %br
  = @assignment.description
  %br
  %br
  = button_to "Submit Homework", new_assignment_submission_path(@assignment), method: :get