<h3>So what...this world is full of flaws..</h3>

<form action="/edit_entry/<%= @entry.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="title">Title</label>
  <input type="text" id="title" name="entry[title]" value="<%= @entry.title %>">
<br>
  <textarea for="entry" rows="20" cols="40" name="entry[entry]"><%= @entry.entry %>
  </textarea>

  <br>
  <input type="submit" value="Edit Entry">
</form>


 <a href="/">Back</a>